
 
 /* responsive for mobile device */
 @media (max-width: 512px) {
	.manage-order {
		display: flex;
		flex-direction: column;
		grid-template-columns: 1fr 60px;
	}
	.custom-btn-margin {
		margin-top: 10px;
		text-align: end;
	}
	.custom-btn-position {
		position: absolute;
		margin-top: 10px;
	}
 }